# HIB Integration
HIB_BASE_URL=https://imislegacy.hib.gov.np/
HIB_USERNAME=testuser
HIB_PASSWORD=
HIB_REMOTE_USER=hib_testuser_testfhir
HIB_PARTNER_ID=7aa79c53-057e-4e77-8576-dfcfb03584a8
HIB_LOCATION_ID=1ac457d3-efd3-4a67-89b3-bf8cbe18045d

# SMS Gateway Integration (SMSBit / SMS Pasal & Sparrow)
SMS_PASAL_KEY=
SMS_PASAL_CAMPAIGN=9674
SMS_PASAL_ROUTEID=10259
SMS_PASAL_SENDER=SMSBit
SMS_PASAL_URL=https://sms.smspasal.com/smsapi/index.php
SPARROW_SMS_TOKEN=

# Password Reset Email (Resend)
RESEND_API_KEY=
RESET_EMAIL_FROM=onboarding@resend.dev
